* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(210, 235, 255), white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container {
    max-width: 580px;
    width: 100%;
    height: 430px;
    background-image: url(img/1476.png_1200-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    width: 340px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@keyframes ngua {
    0% { transform: translateY(0); }
    25% { transform: translateY(-4px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(4px); }
    100% { transform: translateY(0); }
}

.card {
    width: 75px;
    height: 75px;
    perspective: 600px;
    animation: ngua 1.2s ease-in-out infinite;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.card-front {
    background-image: url(img/Back-ZX-Site.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-back {
    background: #fff;
    transform: rotateY(180deg);
    font-size: 40px;
}

.stats {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-box {
    display: flex;
    max-width: 520px;
    width: 100%;
    justify-content: space-between;
}

button {
    cursor: pointer;
    width: 60px;
    height: 30px;
}

@media (max-width: 600px) {
    .container {
        background-image: none;
    }
    .game-box {
        display: flex;
        max-width: 300px;
        width: 100%;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }
}